<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{.title}} - DGame 游戏文档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Camry Chen">
    <meta name="description" content="DGame 游戏文档">
    <meta name="keywords" content="golang,dove,documentation">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Miriam+Libre:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/prism.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/docs.css">
    <link rel="icon" href="/assets/favicon.ico">
    <style>
        button.code_copy {
            background: #FFF;
            color: #000;
            font-size: .65em;
            font-family: Arial, Tahoma, Vendana;
            border: 0;
            border-radius: 0 0.3em 0 0;
        }

        button.code_copy:hover {
            background: #F30;
            color: #FFF;
        }
    </style>
</head>
<body class="docs language-tag">
<nav class="main">
    <a href="/" class="brand nav-block">
        <img src="/assets/img/dgame-logo.png"/>
        <span>DGAME DOC</span>
    </a>
    <div class="search nav-block invisible">
    </div>
    <ul class="main-nav">
        {{template "main-nav" .}}
    </ul>
    {{template "switcher" .}}
    <div class="responsive-sidebar-nav">
        <a href="#" class="toggle-slide menu-link btn">&#9776;</a>
    </div>
</nav>

<div class="docs-wrapper container">
    <section class="sidebar">
        <small><a href="#" id="doc-expand" style="font-size: 11px; color: #B8B8B8;">全部展开</a></small>
        {{.index}}
    </section>
    <div class="fixed">
        <ul></ul>
    </div>
    <article>
        {{.content}}
    </article>
</div>
{{template "footer" .}}
<script src="/assets/js/viewport-units-buggyfill.js"></script>
<script>
    window.viewportUnitsBuggyfill.init();

    let fixed = $(".fixed");
    if (fixed.length > 0) {
        fixed.hide();
        let h2 = $('article h2');
        if (h2.length > 0) {
            h2.each(function () {
                let obj = $(this);
                obj.attr("id", obj.text());
                fixed.find('ul').append('<li><a href="#' + obj.text() + '">' + obj.text() + '</a></li>');
            });
            fixed.show();
        }
        if (IsMobile()) {
            fixed.remove();
            $(".docs article").css({
                "margin-right": 0
            });
        }
    }

    function IsMobile() {
        const isMobile = {
            Android: function () {
                return navigator.userAgent.match(/Android/i) ? true : false;
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i) ? true : false;
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i) ? true : false;
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
            }
        };
        return isMobile.any();
    }
</script>
<script src="/assets/js/docs.js"></script>
<script src="/assets/js/clipboard.min.js"></script>
<script>
    $('pre').each(function () {
        $(this).css({'position': 'relative'}).prepend('<div style="position: absolute; top: -4px; right: 1px;"><button class="code_copy">COPY</button></div>');
    });

    $('.macbook > pre').css({'position': 'absolute'});

    let clipboard = new ClipboardJS('button.code_copy', {
        text: function (trigger) {
            return $.trim($(trigger).parent().parent().find('code').text());
        }
    });
    clipboard.on('success', function (e) {
        // Notification.requestPermission(function (status) {
        //     if (status == 'granted') {
        //         console.log(status); // 仅当值为 "granted" 时显示通知
        //         var n = new Notification("title", {body: "已复制到剪贴板"}); // 显示通知
        //     }
        // });
    });
</script>
</body>
</html>
