{{ define "main-nav" }}
<li><a href="/docs/appz/1">游戏文档</a></li>
<li><a href="http://192.168.1.228:8888/hfs/" target="_blank">文件服务器</a></li>
<li><a href="http://gitlab.dy/" target="_blank">Git</a></li>
<li><a href="http://jenkins.dy/" target="_blank">Jenkins</a></li>
<li><a href="http://devops-web.dy/" target="_blank">Devops</a></li>
<li><a href="https://tower.im/teams/8a69d11351774567bea48de99bd26721/projects/" target="_blank">Tower</a></li>
<li><a href="http://dgame.grafana.xnwan.com/" target="_blank">Grafana</a></li>
<li class="dropdown community-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">内网入口 <span
        class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="http://192.168.1.147/appz/" target="_blank">末日危机</a></li>
        <li class="divider"></li>
        <li><a href="http://192.168.1.200/csp/" target="_blank">末日Q版</a></li>
        <li class="divider"></li>
        <li><a href="http://192.168.1.246/h5/" target="_blank">冒险H5</a></li>
        <li class="divider"></li>
        <li><a href="http://192.168.1.177/h5z/" target="_blank">末日H5</a></li>
        <li class="divider"></li>
        <li><a href="http://192.168.1.220/h5s/" target="_blank">末日H5S</a></li>
    </ul>
</li>
{{ end }}
